[run]
branch = True
data_file = ghostapi/.coverage
source = ghostapi/demo
omit =
    ghostapi/demo/test_*.py

[report]
show_missing = True
skip_covered = True
fail_under = 70

[xml]
output = ghostapi/coverage-python.xml
